body{
	background: #FFB4B4;

}

#head1{
	margin-left: 550px;
}

#img6{

	margin-top: 50px;
	margin-left: 100px
}
#book6{

margin-top: -370px;
margin-left: 450px
}
#price6{
	margin-top: -50px;
	margin-left: -175px;
	
}
#input-text{
	margin-left: 550px
}
#add{
	margin-left: 20px
}