body {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 10px;
}
body{
	background-image: url("https://files.slack.com/files-pri/T017SL4QZ9A-F01C4J7AVHS/book.jpeg")
}
body{
	font-style:oblique;
	font-size: 20px;
	font-weight: bold;
}
h1, h2 {text-align: center;
font-size: 30px;
}
/*#quote, #book-name, #auther-name, #book-cover, #rate*/
#your-name{
	width: 50%;
  padding: 10px 10px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
body{
	color: black;
}
#enter{
	background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}